
.container{
display:flexbox;
/* justify-content: center; */

}

#logo{
justify-self: left;

}
.col {
    border: 2px solid rgb(8, 12, 9);
    /* justify-content: center; */
    text-align: center;
   z
    /* background-color: rgb(24, 226, 17); */
    /* flex-shrink: 1rem; */
    /* flex-wrap: wrap; */
    /* padding: 5; */
    margin-top: 50px;
    align-self: center;
}

[class*="col"]{
padding: 1rem;
background-color: rgb(15, 2, 27);
border: 2px solid rgb(9, 206, 9);
color: #fff;
text-align: center;

}


